
<!--Banners Principales Inicio-->
<div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slideshow="animation: push">

  <ul class="uk-slideshow-items">
    <li>
      <h1 class="animate__animated animate__slideInLeft animate__delay-1s">Llevamos nuestra tierra a todas partes del mundo</h1>
      <img src="https://img.freepik.com/foto-gratis/mujer-agricultora-ve-tabaco-campo_1150-5860.jpg?w=826&t=st=1672844166~exp=1672844766~hmac=9622f57234b0efbbeeb15a55aa116c4d11cd73de9a8eed5fa53a82f01ae2af01" alt="" uk-cover>
    </li>
    <li>
      <img src="https://img.freepik.com/fotos-premium/pueblo-cerca-lajas-colombia-foto-alta-calidad_418500-727.jpg?w=826" alt="" uk-cover>
    </li>
    <li>
      <img src="https://img.freepik.com/foto-gratis/hermoso-jardin-fresas-amanecer-doi-ang-khang-chiang-mai-tailandia_335224-761.jpg?w=826&t=st=1672844230~exp=1672844830~hmac=e5caeb74a514d623e7110e7ac2acc4eb53131edfb84f1bf31904236cacac0551" alt="" uk-cover>
    </li>
  </ul>

  <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
  <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>

</div>
<!--Banners Principales Inicio-->

<!--Seccion de Tres columnas-->
<div class="uk-section uk-section-muted">
  <div class="uk-container">

    <h3>Section</h3>

    <div class="uk-grid-match uk-child-width-1-3@m" uk-grid>
      <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
      </div>
      <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
      </div>
      <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
      </div>
    </div>

  </div>
</div>
<!--Seccion de Tres columnas-->




<!--PRODUCTOS DEL CAMPO----------------------------------->
<div class=" uk-height-large uk-background-cover uk-overflow-hidden uk-light uk-flex" style="background-image: url('../../../assets/campos-colombianos.webp');">
  <div class="uk-width-1-2@m uk-text-center uk-margin-auto uk-margin-auto-vertical">
    <h1 uk-parallax="opacity: 0,1,1; y: -100,0,0; x: 100,100,0; scale: 2,1,1; end: 50vh + 50%;">Productos del campo</h1>
    <h2 uk-parallax="opacity: 0,1,1; y: -100,0,0; x: 100,100,0; scale: 2,1,1; end: 50vh + 50%;">100% Colombianos.</h2>

  </div>
</div>
<!--PRODUCTOS DEL CAMPO----------------------------------->



<div class="uk-height-medium uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-light" data-src="https://images.unsplash.com/photo-1495321308589-43affb814eee?fit=crop&w=650&h=433&q=80" uk-img="loading: eager">
  <a href="https://instagram.com/bindi_colombia/" target="blank">
    <h1>bindi_colombia</h1>
  </a>

</div>
