<!--Banner principal de productos-->

<div class="uk-height-medium uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-light" data-src="../../../assets/banners/retrato-agricultor-sosteniendo-caja-llena-frutas-fresas.webp" uk-img="loading: eager">
  
</div>




<!--!00 % Colombianos-->
<div class="uk-container uk-nav-center"  >

  <div class="uk-align-center">
    <div class="loader ">
      <span class="loader__element"></span>
      <span class="loader__element"></span>
      <span class="loader__element"></span>
    </div>
  </div>
  
  
  <div class="uk-heading-medium animate__animated animate__backInRight">
    
    <img data-aos="zoom-in" src="../../../assets/banners/nuestros-latidos/nuestros latidos-03.png" width="500px" alt="">
  </div>
  
  <hr class="uk-divider-small ">
  <br><br><br>
</div>
<!--!00 % Colombianos-->









<div class="uk-section-default">
  <div class="uk-section uk-light uk-background-cover" 
       style="background-image: url(../../../assets/Nuestros-latidos/seccion-17.png)">

    <div class="uk-container">
      <div class="uk-grid-match uk-child-width-1-2@m" uk-grid>          
          <div class="flotando" data-aos="fade-down-right"><img src="../../../assets/Nuestros-latidos/latidos-15.png" alt="" srcset=""></div>
          <div data-aos="fade-down-left">
            <figure class="imghvr-fade esquinas">
              <img src="../../../assets/Nuestros-latidos/descubrir2.jpg">
              <figcaption  style=" background-color: rgb(229, 13, 13); ">
                Textos en redacción...
              </figcaption>
            </figure>    
          </div>             
      </div>
      <br><br><br><br>
    </div>

  </div>
</div>



<div class="uk-section-default">
  <div class="uk-section uk-light uk-background-cover" 
       style="background-image: url(../../../assets/Nuestros-latidos/seccion-18.png)">

    <div class="uk-container">
      <div class="uk-grid-match uk-child-width-1-2@m" uk-grid>          
          <div data-aos="fade-down-right"><img src="../../../assets/Nuestros-latidos/latidos-16.png" alt="" srcset=""></div>
          <div class="flotando" data-aos="fade-down-left">
            <figure class="imghvr-fade esquinas">
              <img src="../../../assets/Nuestros-latidos/productos enriquecedores.webp">
              <figcaption  style=" background-color: rgb(229, 13, 13); ">
                Textos en redacción...
              </figcaption>
            </figure>  
          </div>             
      </div>
      <br><br><br><br>
    </div>

  </div>
</div>

<div class="uk-section-default">
  <div class="uk-section uk-light uk-background-cover" 
       style="background-image: url(../../../assets/Nuestros-latidos/seccion-19.png)">

    <div class="uk-container">
      <div class="uk-grid-match uk-child-width-1-2@m" uk-grid>          
          <div class="flotando" data-aos="fade-down-right"><img src="../../../assets/Nuestros-latidos/latidos-17.png" alt="" srcset=""></div>
          <div data-aos="fade-down-left">
            <figure class="imghvr-fade esquinas">
              <img src="../../../assets/Nuestros-latidos/confianza.webp">
              <figcaption  style=" background-color: rgb(229, 13, 13); ">
                Textos en redacción...
              </figcaption>
            </figure>  
          </div>             
      </div>
      <br><br><br><br>
    </div>

  </div>
</div>

<div class="uk-section-default">
  <div class="uk-section uk-light uk-background-cover" 
       style="background-image: url(../../../assets/Nuestros-latidos/seccion-20.png)">

    <div class="uk-container">
      <div class="uk-grid-match uk-child-width-1-2@m" uk-grid>          
          <div data-aos="fade-down-right"><img src="../../../assets/Nuestros-latidos/latidos-18.png" alt="" srcset=""></div>
          <div class="flotando" data-aos="fade-down-left">
            <figure class="imghvr-fade esquinas">
              <img src="../../../assets/Nuestros-latidos/cuidar-ambiente.webp">
              <figcaption  style=" background-color: rgb(229, 13, 13); ">
                Textos en redacción...
              </figcaption>
            </figure>  
          </div>             
      </div>
      <br><br><br><br>
    </div>

  </div>
</div>

<div class="uk-section-default">
  <div class="uk-section uk-light uk-background-cover" 
       style="background-image: url(../../../assets/Nuestros-latidos/seccion-21.png)">

    <div class="uk-container">
      <div class="uk-grid-match uk-child-width-1-2@m" uk-grid>          
          <div class="flotando" data-aos="fade-down-right"><img src="../../../assets/Nuestros-latidos/latidos-19.png" alt="" srcset=""></div>
          <div data-aos="fade-down-left">
            <figure class="imghvr-fade esquinas">
            <img src="../../../assets/Nuestros-latidos/negocios.webp">
            <figcaption  style=" background-color: rgb(229, 13, 13); ">
              Textos en redacción...
            </figcaption>
          </figure>            

                      
      </div>
      <br><br><br><br>
    </div>

  </div>
</div>

