<!--Banner principal de productos-->

<div class="uk-height-medium uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-light" data-src="../../../assets/banners/retrato-agricultor-sosteniendo-caja-llena-frutas-fresas.webp" uk-img="loading: eager">
  <img data-aos="zoom-in" src="../../../assets/banners/nuestros-latidos/nuestros latidos-03.png" width="500px" alt="">
</div>

<div class="uk-section uk-section-default"  >
  <div class="uk-container">

    <div class="uk-column-1-2 uk-column-divider">

      <img class="flotando" src="../../../assets/banners/nuestros-latidos/nuestros-latidos-bindi.png" alt="">

      <p>Descubrir y reconocer
        la diversidad de productos
        colombianos potencialmente
        exportables.</p>

      <p>Productos enriquecedores
        para el consumo internacional.</p>

      <p>Seguridad y confiabilidad
        para nuestros proveedores
        y clientes.</p>

        <p>Responsabilidad social
          y ambiental.</p>

          <p>Compromiso en nuestras
            negociaciones.</p>

  </div>


    <hr class="uk-divider-small ">
    <div class="uk-grid-match uk-child-width-2-3@m" uk-grid>
      <div>
        <h3 class="parrafo" data-aos="fade-right"
            data-aos-offset="200"
            data-aos-easing="ease-in-sine">Nuestra premisa es llevar productos al alta calidad y naturalmente saludables a conbsumidores de todo el mundo.
        </h3>
    </div>

  </div>
</div>





<div class="uk-section uk-section-muted">
  <div class="uk-container">

    <div class="loader">
      <span class="loader__element"></span>
      <span class="loader__element"></span>
      <span class="loader__element"></span>
    </div>
    <br><br>

    <div class="uk-grid-match uk-child-width-1-5@m" uk-grid>
      <div>
        <hr class="uk-divider-small ">
        <h4>Descubrir y reconocer
          la diversidad de productos
          colombianos potencialmente
          exportables.</h4>
          

      </div>
      <div>
        <hr class="uk-divider-small ">
        <h4>Productos enriquecedores
          para el consumo internacional.</h4>

      </div>
      <div>
        <hr class="uk-divider-small ">
        <h4>Seguridad y confiabilidad
          para nuestros proveedores
          y clientes.</h4>
          
      </div>
      <div>
        <hr class="uk-divider-small ">
        <h4>Responsabilidad social
          y ambiental.</h4>

      </div>
      <div>
        <hr class="uk-divider-small ">
        <h4>Compromiso en nuestras
          negociaciones.</h4>
          
      </div>
    </div>

  </div>
</div>

<div class="uk-section uk-section-primary uk-light">
  <div class="uk-container">

    <h3>Section Primary</h3>

    <div class="uk-grid-match uk-child-width-1-3@m" uk-grid>
      <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
      </div>
      <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
      </div>
      <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
      </div>
    </div>

  </div>
</div>

