
<div class="uk-inline ">

  <img src="https://img.freepik.com/vector-gratis/fondo-brillante-lineas-suaves-grises_1017-39305.jpg?w=826&t=st=1673113823~exp=1673114423~hmac=352e13c01c7c0b2384cf07b34e3ebad5f3d35a398f878c27f0c3a5d8e34fc60f" width="1200px"  alt="">

  <div class=" animate__animated animate__backInDown uk-position-small uk-position-top uk-overlay uk-text-center ">
    <br><br>
    <img class="responsive-img" src="../../../assets/banners/nuestros-latidos/nuestros latidos-03.png" width="500px">
   </div>
  <div class="uk-position-bottom uk-overlay uk-text-center">Bottom</div>
  <div class="uk-position-bottom-left uk-flex uk-flex-middle "
  data-aos="fade-up-right">
    <img src="../../../assets/banners/nuestros-latidos/mujer-empresarial.png"  width="500px" alt="">
  </div>
  <div class="uk-position-bottom-right uk-flex uk-flex-middle "
  data-aos="fade-up"
  data-aos-anchor-placement="bottom-bottom">
    <img src="../../../assets/banners/nuestros-latidos/mujer-empresarial.png"  width="700px" alt="">
  </div>

</div>



<!--Seccion de Textos Nuestros Latidos-->
<div class="uk-section uk-preserve-color fondocolor">
  <div class="uk-container">

    <div class="uk-grid-match uk-child-width-expand@m" uk-grid>
      <div>

        <div class="uk-card uk-card-body">
          <p>Descubrir y reconocer
            la diversidad de productos
            colombianos potencialmente
            exportables.</p>
        </div>

      </div>
      <div>

        <div class="uk-card uk-card-body">
          <p>Productos enriquecedores
            para el consumo internacional.</p>
        </div>

      </div>
    </div>

    <div class="uk-grid-match uk-child-width-expand@m" uk-grid>

      <div>

        <div class="uk-card  uk-card-body">
          <p>Seguridad y confiabilidad
            para nuestros proveedores
            y clientes.</p>
        </div>

      </div>

      <div class="uk-animation-toggle" tabindex="0">

        <div class="uk-card uk-card-body uk-card-default uk-animation-shake ">
          <p>Responsabilidad social
            y ambiental.</p>
        </div>

      </div>

    </div>


  </div>
</div>
<!--Seccion de Textos Nuestros Latidos-->







<div class="uk-section uk-background-cover" style="background-image: url(../../../assets/banners/nuestros-latidos/contenedores-08.png)">
  <div class="uk-container">

    <h1>VALOR DE LAS EXPORTACIONES</h1>

    <div class="uk-child-width-1-3@m" uk-grid uk-scrollspy="cls: uk-animation-slide-bottom; target: .uk-card; delay: 300; repeat: true">
      <div>
        <div class="uk-card  uk-card-body uk-card-default animate__animated animate__bounceIn fondocoloryellow">
          <h3 class="uk-card-title">DIVERSIFICAR</h3>
          <p class="whitefont">Diversificar productos y mercados
            para afrontar la competencia internacional
            y la situación de la economía nacional.</p>
        </div>
      </div>
      <div>
        <div class="uk-card uk-card-body uk-card-default animate__animated animate__bounceIn fondocoloryellow" uk-scrollspy-class="uk-animation-slide-top">
          <h3 class="uk-card-title">VENDER MÁS VOLUMEN</h3>
          <p class="whitefont">Vender mayores volúmenes para utilizar
            la capacidad productiva de la empresa
            y hacer economías de escala.</p>
        </div>
      </div>
      <div>
        <div class="uk-card uk-card-body uk-card-default animate__animated animate__bounceIn fondocoloryellow">
          <h3 class="uk-card-title">MAYOR RENTABILIDAD</h3>
          <p class="whitefont">Buscar mayor rentabilidad
            en los mercados internacionales
            y asegurar la existencia
            de la empresa a largo plazo.</p>
        </div>
      </div>
    </div>

  </div>
</div>




