.fondo {
  background-image: url(../../../assets/banners/banners-inicio/obcura.webp);
  background-size: cover;
  background-position-x: right;
}

.color-barra {
  background-color: #F5A322
}

.copy {
color:aliceblue;
}

.altura {
  height: 65px;
}

.poli {
  color: #EC1C24
}
