<div class="uk-section uk-section-secondary uk-light fondo">
  <div class="uk-container">

    <div class="uk-navbar-left">

      <div >
        <a class="uk-navbar-item uk-logo " routerlink="inicio" >
          <img src="https://firebasestorage.googleapis.com/v0/b/bindiimport.appspot.com/o/branding%2Flogo-bindi.svg?alt=media&token=56ede125-0140-498c-aaf7-c2428dee99d5" width="200px"  alt="Depplin - Departamento de Publicidad Integral">
        </a>

      </div>

    </div>
    <br>

      <div class="uk-grid-match uk-child-width-1-4@m" uk-grid>
          <div>
          <h4>Somos una empresa
            dedicada a la exportación de diferentes productos colombianos, nace de la necesidad de llevar
            nuestro talento y cultura
            colombiana a todos los rincones del mundo, cruzar fronteras es
            nuestro propósito,
            hacemos la mejor
            gestión y acompañamiento a nuestros diferentes clientes en sus
            exportaciones.</h4>
          </div>

          <div>
            <app-nav-left-products></app-nav-left-products>

          </div>


          <div>
            <app-nav-left-bindi></app-nav-left-bindi>

          </div>

          <div>

            <app-contacto-redes></app-contacto-redes>

          </div>
      </div>

  </div>
</div>



<nav class="uk-navbar-container color-barra altura" uk-navbar="align: center" >
  <div class="uk-navbar-center">
    <h6 class="copy">© Copyright 2023 Bindi Import S.A.S.  Todos los derechos reservados | <a routerLink="politicas" ><span class="poli" >Politicas de Privacidad</span></a></h6>

  </div>

</nav>






