.fondo {
  background-image: url(../../../assets/banners/banners-inicio/footer-bindi.webp);
  background-size: cover;
  background-position-x: right;
}

.color-barra {
  background-color: #D01F27
}

.copy {
color:aliceblue;
}

.altura {
  height: 65px;
}
