<div class="uk-section uk-section-secondary uk-light">
  <div class="uk-container">

      <h3>BINDI IMPORT</h3>

      <div class="uk-grid-match uk-child-width-1-4@m" uk-grid>
          <div>
              <app-nav-left-bindi></app-nav-left-bindi>
          </div>

          <div>
            <app-nav-left-products></app-nav-left-products>

          </div>


          <div>
            <h4>Enlaces</h4>

          </div>

          <div>
            <h4>Redes Sociales</h4>

          </div>
      </div>

  </div>
</div>






