<!--Banner principal de productos-->
<div class="uk-height-medium uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-light" data-src="https://img.freepik.com/fotos-premium/agricultor-manejando-tractor-pequeno-cultivo-suelo-excavacion-papa-cosecha-otono-cosecha-papa_106029-673.jpg?w=826" uk-img="loading: eager">

</div>
<!--Banner principal de productos-->



<!--Banner Nuestra Premisa
<div class="uk-height-medium uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-light" data-src="../../../assets/banners/banner-productos.jpg" uk-img="loading: eager">
    <div class="uk-container uk-container-small">
      <h1 class="uk-heading-small animate__animated animate__backInLeft"
          data-aos="fade-right"
          data-aos-offset="200"
          data-aos-easing="ease-in-sine">Nuestra premisa es llevar productos de alta calidad y naturalmente saludables a conbsumidores de todo el mundo.</h1>
    </div>
</div>
-->


<!--!00 % Colombianos-->
<div class="uk-container uk-nav-center"  >
  <br>
  <h1 class="uk-heading-medium animate__animated animate__backInRight">De los campos colombianos al mundo</h1>
  <h1 class="uk-heading-medium " data-aos="zoom-in">100% Colombianos</h1>
  <hr class="uk-divider-small ">
</div>
<!--!00 % Colombianos-->


<!--Slides de Productos------>
<div class="uk-section uk-section-default">
  <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider="clsActivated: uk-transition-active; center: true">

    <ul class="uk-slider-items uk-grid">
      <li class="uk-width-3-4">
        <div class="uk-panel">
          <img src="https://img.freepik.com/foto-gratis/primer-disparo-manos-femeninas-sosteniendo-frijoles-mixtos_181624-25286.jpg?w=826&t=st=1672957589~exp=1672958189~hmac=38fd19473ebb964550d7f1f3e2e960ba6b7d343aa67c04c8c7aa51536bd5bcb2" width="1800" height="1200" alt="">
          <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom">
            <h3 class="uk-margin-remove">SNACKS</h3>
            <p class="uk-margin-remove">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <br>
            <a href="https://catalogo.bindimport.com" target="_blank"><button class="uk-button uk-button-primary">Ir al Catálogo</button></a>
          </div>
        </div>
      </li>

      <li class="uk-width-3-4">
        <div class="uk-panel">
          <img src="https://img.freepik.com/foto-gratis/primer-disparo-manos-femeninas-sosteniendo-frijoles-mixtos_181624-25286.jpg?w=826&t=st=1672957589~exp=1672958189~hmac=38fd19473ebb964550d7f1f3e2e960ba6b7d343aa67c04c8c7aa51536bd5bcb2" width="1800" height="1200" alt="">
          <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom">
            <h3 class="uk-margin-remove">DERIVADOS DE FRUTAS</h3>
            <p class="uk-margin-remove">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <br>
            <a href="https://catalogo.bindimport.com" target="_blank"><button class="uk-button uk-button-primary">Ir al Catálogo</button></a>
          </div>
        </div>
      </li>

      <li class="uk-width-3-4">
        <div class="uk-panel">
          <img src="https://img.freepik.com/foto-gratis/primer-disparo-manos-femeninas-sosteniendo-frijoles-mixtos_181624-25286.jpg?w=826&t=st=1672957589~exp=1672958189~hmac=38fd19473ebb964550d7f1f3e2e960ba6b7d343aa67c04c8c7aa51536bd5bcb2" width="1800" height="1200" alt="">
          <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom">
            <h3 class="uk-margin-remove">PANELA ORGÁNICA Y DERIVADOS</h3>
            <p class="uk-margin-remove">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <br>
            <a href="https://catalogo.bindimport.com" target="_blank"><button class="uk-button uk-button-primary">Ir al Catálogo</button></a>
          </div>
        </div>
      </li>

      <li class="uk-width-3-4">
        <div class="uk-panel">
          <img src="https://img.freepik.com/foto-gratis/primer-disparo-manos-femeninas-sosteniendo-frijoles-mixtos_181624-25286.jpg?w=826&t=st=1672957589~exp=1672958189~hmac=38fd19473ebb964550d7f1f3e2e960ba6b7d343aa67c04c8c7aa51536bd5bcb2" width="1800" height="1200" alt="">
          <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom">
            <h3 class="uk-margin-remove" >GRANOS Y SEMILLAS</h3>
            <p class="uk-margin-remove">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <br>
            <a href="https://catalogo.bindimport.com" target="_blank"><button class="uk-button uk-button-primary">Ir al Catálogo</button></a>
          </div>
        </div>
      </li>

      <li class="uk-width-3-4">
        <div class="uk-panel">
          <img src="https://img.freepik.com/foto-gratis/primer-disparo-manos-femeninas-sosteniendo-frijoles-mixtos_181624-25286.jpg?w=826&t=st=1672957589~exp=1672958189~hmac=38fd19473ebb964550d7f1f3e2e960ba6b7d343aa67c04c8c7aa51536bd5bcb2" width="1800" height="1200" alt="">
          <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom">
            <h3 class="uk-margin-remove">HARINAS, PASTAS Y DERIVADOS</h3>
            <p class="uk-margin-remove">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <br>
            <a href="https://catalogo.bindimport.com" target="_blank"><button class="uk-button uk-button-primary">Ir al Catálogo</button></a>
          </div>
        </div>
      </li>
    </ul>

    <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
    <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>

  </div>
</div>
<!--Slides de Productos------>



  <div class="uk-section uk-section-muted">
    <div class="uk-container">

      <h2>Cuidamos todos los detalles para garantizar experiencias satisfactorias</h2>
      <hr class="uk-divider-small ">
      <div class="uk-slider-container-offset" uk-slider>

        <div class="uk-position-relative uk-visible-toggle uk-light" >

          <ul class="uk-slider-items uk-child-width-1-3@s uk-grid">
            <li>
              <div class="uk-card uk-card-default">
                <div class="uk-card-media-top">
                  <img src="https://img.freepik.com/fotos-premium/campo-plantas-cafe-manizales-caldas-antioquia-colombia_660575-1827.jpg?w=826" width="1800" height="1200" alt="">
                </div>
                <div class="uk-card-body">
                  <h3 class="uk-card-title">Productos cultivados en tierras Colombianas</h3>
                  <p> La mayoría de los pasajes de Colombia están decorados con algún cultivo. Como si fuera una postal, los cafetales siempre aparecen al visitar la zona centro; la papa, la cebolla y las flores en el Altiplano Cundiboyacense; la dulce caña en el Valle; los ácidos frutales en la Costa; y los miles de arrozales en el Tolima Grande.</p>
                </div>
              </div>
            </li>



            <li>
              <div class="uk-card uk-card-default">
                <div class="uk-card-media-top">
                  <img src="https://img.freepik.com/foto-gratis/carretilla-elevadora-descargando-caja-contenedor_53876-139871.jpg?w=826&t=st=1673026372~exp=1673026972~hmac=16885259a57fc1c0b1297076d7657102ba65db1b0d272eb6240326e2aa6dcfdc" width="1800" height="1200" alt="">
                </div>
                <div class="uk-card-body">
                  <h3 class="uk-card-title">Logística internacional Garantizada</h3>
                  <p>La diversidad de opciones son la clave de la buena gestión. Contamos con diferentes empresas de logístoca y transporte internacionl con tecnología de punta, con amplia trayectoria de servicios aduanales, para consolidar entregas en tiempo cortos conservando asi la calidad de los alimentos puestos en cada tienda.</p>
                </div>
              </div>
            </li>

            <li>
              <div class="uk-card uk-card-default">
                <div class="uk-card-media-top">
                  <img src="https://img.freepik.com/foto-gratis/mujer-tranquila-relajada-sienta-pose-loto-colchoneta-fitness-medita-escucha-musica-agradable-traves-auriculares-practica-yoga-entorno-urbano-usa-ropa-deportiva-mantiene-ojos-cerrados-respira-profundamente_273609-60581.jpg?w=826&t=st=1673026437~exp=1673027037~hmac=edef47d61670100b4e08886180daff8e6d24719096abeaecbbc8f80f0ed90978" width="1800" height="1200" alt="">
                </div>
                <div class="uk-card-body">
                  <h3 class="uk-card-title">Procuramos un entorno 100% saludable</h3>
                  <p> Nuestros proveedores y colaboradores comparten junto a <strong>Bindi Colombia</strong>  una filosofía en común; brindar bienestar y salud alimentaria en cada prducto de nuestra gama, trabajando en conjunto con almas comprometidas con la idea de proporcionar un estilo de vida naturalmente orgánico y saludable.</p>
                </div>
              </div>
            </li>

          </ul>

          <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
          <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>

        </div>

        <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>

      </div>

    </div>
  </div>
