

<nav class="uk-navbar-container " uk-navbar>


  <!--Logotipo a la izquierda-------------->
  <div class="uk-navbar-left">
    <span></span>
    <div>
    <a class="uk-navbar-item uk-logo" routerlink="inicio" >
      <img src="https://firebasestorage.googleapis.com/v0/b/bindiimport.appspot.com/o/branding%2Flogo-bindi.svg?alt=media&token=56ede125-0140-498c-aaf7-c2428dee99d5" width="200px"  alt="Depplin - Departamento de Publicidad Integral">
    </a>

    </div>

  </div>
<!--Logotipo a la izquierda-------------->



  <!--Contactenos-------------------------------------------------->
  <div class="uk-navbar-left">


  </div>
  <!--Contactenos-------------------------------------------------->






  <div class="uk-navbar-right">


</div>


<div class="uk-navbar-right">

<ul class="uk-navbar-nav uk-visible@m">
        <li class="uk-active"><a href="#"><a routerLink="" >INICIO</a></a></li>
        <li>
            <a routerLink="" >Productos</a>
            <div class="uk-navbar-dropdown">
                <ul class="uk-nav uk-navbar-dropdown-nav">
                    <li class="uk-active"><a href="#">Active</a></li>
                    <li><a href="#">Item</a></li>
                    <li><a href="#">Item</a></li>
                </ul>
            </div>
        </li>
        <li><a href="#">Nuestros Latidos</a></li>

        <li>
      <a href="#"><span uk-icon="icon: user ; ratio: 1"></span></a>
      <div class="uk-navbar-dropdown">
          <ul class="uk-nav uk-navbar-dropdown-nav">
              <li class="uk-active"><a routerLink="contactenos"><span class="uk-margin-small-right" uk-icon="icon: mail"></span>Escríbanos</a></li>
              <li><a href="https://www.instagram.com/bindi_import/" target="_blank"><span class="uk-margin-small-right" uk-icon="icon: instagram"></span>Instagram</a></li>
              <li><a href="https://www.facebook.com/BindiColombia/"><span class="uk-margin-small-right" uk-icon="icon: facebook"></span>Facebook</a></li>
              <li><a href="https://api.whatsapp.com/send?phone=573052215839&text=Hola,%20encontr%C3%A9%20sus%20productos%20en%20internet%20y%20estoy%20interesa@%20en%20su%20cat%C3%A1logo..." target=""><span class="uk-margin-small-right" uk-icon="icon: whatsapp"></span>Whatsapp</a></li>
          </ul>
      </div>
  </li>
</ul>
<a class="uk-navbar-toggle "uk-toggle="target: #offcanvas-reveal" ><span uk-icon="icon: menu ; ratio: 1.5"></span></a>
<span></span>

</div>

</nav>



<div id="offcanvas-reveal" class="" uk-offcanvas="mode: reveal; overlay: true">

  <div class="uk-offcanvas-bar fondo ">

    <app-nav-left></app-nav-left>
  <!--
    <ul class="uk-nav-default" uk-nav>
      <li class="uk-active"><a href="#">Productos</a></li>
      <li class="uk-parent">
          <a href="#">Snacks<span uk-nav-parent-icon></span></a>
          <ul class="uk-nav-sub">
              <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: triangle-right"></span>Chips de Papas</a></li>
              <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: triangle-right"></span>Snacks derivados de Plátano</a></li>
              <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: triangle-right"></span>Palitos de sabores</a></li>
              <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: triangle-right"></span>Crispetas</a></li>
              <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: triangle-right"></span>Rosquitas</a></li>
              <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: triangle-right"></span>Barquillo relleno</a></li>
              <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: triangle-right"></span>Galletas</a></li>
              <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: triangle-right"></span>Parmesanitos integrales</a></li>
              <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: triangle-right"></span>Barras de cereal</a></li>
              <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: triangle-right"></span>Legumbres en grano</a></li>
              <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: triangle-right"></span>Choco Quinua bites</a></li>
          </ul>
      </li>
      <li class="uk-parent">
        <a href="#">Derivados de Frutas<span uk-nav-parent-icon></span></a>
        <ul class="uk-nav-sub">
            <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: triangle-right"></span>Salsas de frutas</a></li>
            <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: triangle-right"></span>Fruta Deshidratada</a></li>

        </ul>
      </li>
      <li class="uk-parent">
        <a href="#">Panela Orgánica y Derivados<span uk-nav-parent-icon></span></a>
        <ul class="uk-nav-sub">
            <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: triangle-right"></span>Panela Orgánica</a></li>
            <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: triangle-right"></span>Miel de caña orgánica </a></li>
        </ul>
      </li>
      <li class="uk-parent">
          <a href="#">Granos y Semillas <span uk-nav-parent-icon></span></a>
          <ul class="uk-nav-sub">
              <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: triangle-right"></span>Semillas (Quinoa, linaza, Chía)</a></li>
              <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: triangle-right"></span>Arroz integral  (Quinua)</a></li>
              <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: triangle-right"></span>Hojuelas (avena , quinua)</a></li>
          </ul>
      </li>
      <li class="uk-parent">
        <a href="#">Harinas, pastas y derivados <span uk-nav-parent-icon></span></a>
        <ul class="uk-nav-sub">
            <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: triangle-right"></span>Pastas (Garbanzos, lentejas)</a></li>
            <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: triangle-right"></span>Harinas (Garbanzo, quinua, avena y arroz)</a></li>
            <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: triangle-right"></span>Premezclas ( Pan, waffles, crepes, muffins, pancakes</a></li>
            <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: triangle-right"></span>Polvos (Canela, cúrcuma, jengibre, cardamomo)</a></li>
        </ul>
    </li>
      <li class="uk-nav-header">Bindi Import</li>
      <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: home"></span> Home</a></li>
      <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: heart"></span> Nuestros Latidos</a></li>
      <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: star"></span> Responsabilidad Social y Ambiental</a></li>

      <li class="uk-nav-divider"></li>
      <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: user"></span> CONTÁCTENOS</a></li>
  </ul>-->

  </div>






</div>

