<!--Banner principal de productos-->

<div class="uk-height-medium uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-light" data-src="../../../assets/banners/banner-productos.jpg" uk-img="loading: eager">
  <h1 class="uk-heading-small animate__animated animate__backInLeft">De los campos colombianos al mundo</h1>
</div>

<div class="uk-section uk-section-default"  >
  <div class="uk-container">

    <h1 class="uk-heading-medium animate__animated animate__bounceInLeft">Calidad de productos</h1>
    <hr class="uk-divider-small ">
    <div class="uk-grid-match uk-child-width-2-3@m" uk-grid>
      <div>
        <h3 class="parrafo" data-aos="fade-right"
            data-aos-offset="200"
            data-aos-easing="ease-in-sine">Nuestra premisa es llevar productos al alta calidad y naturalmente saludables a conbsumidores de todo el mundo.
        </h3>
    </div>

  </div>
</div>

  <br><br><br>

<div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider="clsActivated: uk-transition-active; center: true">

  <ul class="uk-slider-items uk-grid">
    <li class="uk-width-3-4">
      <div class="uk-panel">
        <img src="https://img.freepik.com/foto-gratis/primer-disparo-manos-femeninas-sosteniendo-frijoles-mixtos_181624-25286.jpg?w=826&t=st=1672957589~exp=1672958189~hmac=38fd19473ebb964550d7f1f3e2e960ba6b7d343aa67c04c8c7aa51536bd5bcb2" width="1800" height="1200" alt="">
        <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom">
          <h3 class="uk-margin-remove">SNACKS</h3>
          <p class="uk-margin-remove">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          <br>
          <a href="https://catalogo.bindimport.com" target="_blank"><button class="uk-button uk-button-primary">Ir al Catálogo</button></a>
        </div>
      </div>
    </li>

    <li class="uk-width-3-4">
      <div class="uk-panel">
        <img src="https://img.freepik.com/foto-gratis/primer-disparo-manos-femeninas-sosteniendo-frijoles-mixtos_181624-25286.jpg?w=826&t=st=1672957589~exp=1672958189~hmac=38fd19473ebb964550d7f1f3e2e960ba6b7d343aa67c04c8c7aa51536bd5bcb2" width="1800" height="1200" alt="">
        <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom">
          <h3 class="uk-margin-remove">DERIVADOS DE FRUTAS</h3>
          <p class="uk-margin-remove">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          <br>
          <a href="https://catalogo.bindimport.com" target="_blank"><button class="uk-button uk-button-primary">Ir al Catálogo</button></a>
        </div>
      </div>
    </li>

    <li class="uk-width-3-4">
      <div class="uk-panel">
        <img src="https://img.freepik.com/foto-gratis/primer-disparo-manos-femeninas-sosteniendo-frijoles-mixtos_181624-25286.jpg?w=826&t=st=1672957589~exp=1672958189~hmac=38fd19473ebb964550d7f1f3e2e960ba6b7d343aa67c04c8c7aa51536bd5bcb2" width="1800" height="1200" alt="">
        <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom">
          <h3 class="uk-margin-remove">PANELA ORGÁNICA Y DERIVADOS</h3>
          <p class="uk-margin-remove">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          <br>
          <a href="https://catalogo.bindimport.com" target="_blank"><button class="uk-button uk-button-primary">Ir al Catálogo</button></a>
        </div>
      </div>
    </li>

    <li class="uk-width-3-4">
      <div class="uk-panel">
        <img src="https://img.freepik.com/foto-gratis/primer-disparo-manos-femeninas-sosteniendo-frijoles-mixtos_181624-25286.jpg?w=826&t=st=1672957589~exp=1672958189~hmac=38fd19473ebb964550d7f1f3e2e960ba6b7d343aa67c04c8c7aa51536bd5bcb2" width="1800" height="1200" alt="">
        <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom">
          <h3 class="uk-margin-remove" >GRANOS Y SEMILLAS</h3>
          <p class="uk-margin-remove">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          <br>
          <a href="https://catalogo.bindimport.com" target="_blank"><button class="uk-button uk-button-primary">Ir al Catálogo</button></a>
        </div>
      </div>
    </li>

    <li class="uk-width-3-4">
      <div class="uk-panel">
        <img src="https://img.freepik.com/foto-gratis/primer-disparo-manos-femeninas-sosteniendo-frijoles-mixtos_181624-25286.jpg?w=826&t=st=1672957589~exp=1672958189~hmac=38fd19473ebb964550d7f1f3e2e960ba6b7d343aa67c04c8c7aa51536bd5bcb2" width="1800" height="1200" alt="">
        <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom">
          <h3 class="uk-margin-remove">HARINAS, PASTAS Y DERIVADOS</h3>
          <p class="uk-margin-remove">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          <br>
          <a href="https://catalogo.bindimport.com" target="_blank"><button class="uk-button uk-button-primary">Ir al Catálogo</button></a>
        </div>
      </div>
    </li>
  </ul>

  <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
  <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>

</div>


<div class="uk-section uk-section-muted">
  <div class="uk-container">

    <h3>Section Muted</h3>

    <div class="uk-grid-match uk-child-width-1-3@m" uk-grid>
      <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
      </div>
      <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
      </div>
      <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
      </div>
    </div>

  </div>
</div>

<div class="uk-section uk-section-primary uk-light">
  <div class="uk-container">

    <h3>Section Primary</h3>

    <div class="uk-grid-match uk-child-width-1-3@m" uk-grid>
      <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
      </div>
      <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
      </div>
      <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
      </div>
    </div>

  </div>
</div>

<div class="uk-section uk-section-secondary uk-light">
  <div class="uk-container">

    <h3>Section Secondary</h3>

    <div class="uk-grid-match uk-child-width-1-3@m" uk-grid>
      <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
      </div>
      <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
      </div>
      <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
      </div>
    </div>

  </div>
</div>

<div class="uk-section-default">
  <div class="uk-section uk-light uk-background-cover" style="background-image: url(https://img.freepik.com/foto-gratis/primer-disparo-manos-femeninas-sosteniendo-frijoles-mixtos_181624-25286.jpg?w=826&t=st=1672957589~exp=1672958189~hmac=38fd19473ebb964550d7f1f3e2e960ba6b7d343aa67c04c8c7aa51536bd5bcb2)">
    <div class="uk-container">

      <h3>Section with Images</h3>

      <div class="uk-grid-match uk-child-width-1-3@m" uk-grid>
        <div>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
        </div>
        <div>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
        </div>
        <div>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
        </div>
      </div>

    </div>
  </div>
</div>
