<!--Banner principal de productos-->

<div class="uk-height-medium uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-light" data-src="../../../assets/banners/banner-productos.jpg" uk-img="loading: eager">
  <h1>Todos nuestros productos</h1>
</div>


<!--Lista de Productos------------------------------>

<div class="uk-container uk-align-center ">

          <div class="uk-child-width-expand@s uk-text-center" uk-grid>

          <!--SNACKS-->
          <div>
            <div class="uk-animation-toggle" tabindex="0">
              <a href="productos/#snacks">
              <div class="uk-card uk-card-default uk-card-body uk-animation-shake">
                  <p class="uk-text-center">Snacks</p>
              </div>
            </a>
            </div>

          </div>
          <!--SNACKS-->



          <!--DERIVADOS DE FRUTAS-->
          <div>
            <div class="uk-animation-toggle" tabindex="0">
              <a href="productos/#frutas">
              <div class="uk-card uk-card-default uk-card-body uk-animation-shake">
                  <p class="uk-text-center">Derivados de Frutas</p>
              </div>
            </a>
            </div>

          </div>
          <!--DERIVADOS DE FRUTAS-->



          <!--PANELA ORGÁNICA----------------------------->
          <div>
            <div class="uk-animation-toggle" tabindex="0">
              <a href="productos/#panela">
              <div class="uk-card uk-card-default uk-card-body uk-animation-shake">
                  <p class="uk-text-center">Panela Orgánica y Derivados</p>
              </div>
            </a>
            </div>

          </div>
          <!--PANELA ORGÁNICA----------------------------->



          <div>
            <div class="uk-animation-toggle" tabindex="0">
              <a href="productos/#semillas">
              <div class="uk-card uk-card-default uk-card-body uk-animation-shake">
                  <p class="uk-text-center">Granos y Semillas</p>
              </div>
            </a>
            </div>

        </div>

        <div>
          <div class="uk-animation-toggle" tabindex="0">
            <div class="uk-card uk-card-default uk-card-body uk-animation-shake">
                <p class="uk-text-center">Harinas y Pastas y Derivados</p>
            </div>
          </div>
        </div>

</div>
<br><br>

<!--Lista de Productos------------------------------>























<!-- SECCION SNACKS----------------------------------->
<div>

  <div class="uk-h3" id="snacks">SNACKS</div>

  <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slideshow="animation: push">

      <ul class="uk-slideshow-items">
          <li>
              <img src="../../../assets/Snacks/Delipopp/delipop1.png" alt="" uk-cover>
          </li>
          <li>
              <img src="../../../assets/Snacks/monterojo/monterojo.jpg" alt="" uk-cover>
          </li>
          <li>
              <img src="../../../assets/Snacks/PROBA/proba-01.png" alt="" uk-cover>
          </li>
      </ul>

      <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
      <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>

  </div>

</div>
<!-- SECCION SNACKS------>
<br><br>




<!-- SECCION DERIVADOS DE FRUTAS----------------------------------->
<div>

  <div class="uk-h3" id="frutas">DERIVADOS DE FRUTAS</div>

  <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slideshow="animation: push">

      <ul class="uk-slideshow-items">
          <li>
              <img src="../../../assets/FRUTAS/FRUITEXCO-04.png" alt="" uk-cover>
          </li>
          <li>
              <img src="../../../assets/FRUTAS/FRUITEXCO-06.png" alt="" uk-cover>
          </li>

      </ul>

      <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
      <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>

  </div>

</div>
<!-- SECCION SNACKS------>
<br><br>


<!-- SECCION panela orgánica y derivados----------------------------------->
<div>

  <div class="uk-h3" id="panela">PANELA ORGÁNICA Y DERIVADOS</div>

  <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slideshow="animation: push">

      <ul class="uk-slideshow-items">
          <li>
              <img src="../../../assets/Panela/DELIGHT CANE-01.png" alt="" uk-cover>
          </li>

          <li>
            <img src="../../../assets/Panela/panelas-03.png" alt="" uk-cover>
          </li>
          <li>
            <img src="../../../assets/Panela/panelas-07.png" alt="" uk-cover>
          </li>
          <li>
            <img src="../../../assets/Panela/panelas-09.png" alt="" uk-cover>
          </li>

      </ul>

      <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
      <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>

  </div>

</div>
<!-- SECCION panela orgánica y derivados------>
<br><br>



<!-- SECCION SEMILLAS Y GRANOS----------------------------------->
<div>

  <div class="uk-h3" id="semillas">SEMILLAS Y GRANOS</div>

  <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slideshow="animation: push">

      <ul class="uk-slideshow-items">
          <li>
              <img src="../../../assets/SEMILLAS/KARAVANSAY-01.png" alt="" uk-cover>
          </li>

          <li>
            <img src="../../../assets/SEMILLAS/KARAVANSAY-22.png" alt="" uk-cover>
          </li>

      </ul>

      <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
      <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>

  </div>

</div>
<!-- SECCION SEMILLAS Y GRANOS------>
<br><br>

















