<div class="uk-background-image@${0|s,m,l,xl|}">

  <div class="uk-position-relative">

    <img src="https://firebasestorage.googleapis.com/v0/b/bindiimport.appspot.com/o/branding%2Fdecolombia_Mesa%20de%20trabajo%201%20copia_Mesa%20de%20trabajo%201%20copia.png?alt=media&token=af15f5f1-a8e2-4566-9fd5-00b538bfa64d" width="1800" height="1200" alt="">

    <div class="uk-position-large uk-position-top-center"><button class="uk-button uk-button-primary" href="#modal" uk-toggle>CONTÁCTANOS </button>
      <div id="modal" uk-modal>
          <div class="uk-modal-dialog uk-modal-body">
              <button class="uk-modal-close-default" type="button" uk-close></button>
              <h2 class="uk-modal-title">Hola,</h2>
              <p>Estamos desarrollando una mejor web para brindarte una experiencia super agradable; es por eso que mientras logramos nuestro objetivo, te invitamos a escribirnos al whatsapp directo.</p>
              <p uk-margin>

                <a href="https://api.whatsapp.com/send?phone=573052215838&text=Hola,%20me%20interesa%20saber%20de%20sus%20productos%20Colombianos%20!..."><button class="uk-button uk-button-primary uk-width-1-1 uk-button-wa uk-margin-small-bottom">Whatsapp</button></a>

            </p>
              <p class="uk-text-right">
                  <button class="uk-button uk-button-default uk-modal-close" type="button">cerrar</button>


              </p>
          </div>
      </div></div>


</div>

</div>
