<!--Banner principal de productos-->
<div class="uk-height-medium uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-light" data-src="https://img.freepik.com/foto-gratis/politica-privacidad-documentos-servicio-terminos-uso-concepto_53876-137636.jpg?w=826&t=st=1673381758~exp=1673382358~hmac=2e10b7bb0e3838e3d81a127a1e2e24b7bbaab6b92bb1b6101b0625d78745b723" uk-img="loading: eager">
  <div class="uk-container">
  <h1 class=" text-color uk-heading-small animate__animated animate__backInRight">
    Políticas de privacidad y protección de datos personales.</h1>
  </div>
</div>
<!--Banner principal de productos-->


<!--Seccion de Textos Nuestros Latidos-->
<div class="uk-section uk-preserve-color fondocolor">
  <div class="uk-container">

    <div class="uk-grid-match uk-child-width-expand@m" uk-grid>
      <div>

        <div class="uk-card uk-card-body">
          <p><strong>Políticas y lineamientos generales</strong>

          </p>

            <p>Para dar cumplimiento a la Ley Estatutaria 1581 del 17 de octubre de 2012, y demás normas que la modifiquen, adicionen, complementen o reglamenten, BINDI tiene diferentes procesos y lineamientos para el manejo de información de clientes actuales y potenciales, proveedores, colaboradores y de otros grupos de interés, a los cuales se hace referencia en esta política.
              BINDI puede recolectar, utilizar, transferir, transmitir, almacenar, procesar o suprimir datos personales con las siguientes finalidades:


              a. Fines Comerciales de BINDI: comprende toda actividad encaminada a presentar ofertas, promociones, productos, anuncios, publicidad, oportunidades, sorteos, campañas, programas de lealtad, fidelización, retención de clientes y, en general, información de productos y servicios nuevos,
              ya solicitados o contratados, o que puedan ser de interés de los clientes.

              b. Relacionamiento con públicos de interés: comprende toda actividad orientada al manejo de las relaciones con accionistas, autoridades y comunidad en general, de conformidad con el marco jurídico vigente, en desarrollo de la gestión empresarial para el adecuado cumplimiento del objeto social.

              c. Fines legales: comprende todo tratamiento justificado por la necesidad de cumplir con los requisitos legales aplicables, como son el atender un requerimiento de una entidad pública o administrativa en ejercicio de sus funciones, o de autoridad judicial,
              o para proteger los derechos, la propiedad o la seguridad de Bindi, la seguridad de nuestros clientes, empleados y el público en general, o la entrega de datos en casos de urgencia médica o sanitaria.

              Eventualmente la Compañía podrá establecer otras finalidades para el tratamiento de los datos personales, y para ello,
              deberá contar con la autorización previa, expresa, consentida e informada del titular para su correspondiente tratamiento.

              El responsable de la implementación de la Política de Protección de Datos en Bindi es el oficial de protección de datos.</p>

            <p>
<strong>Clientes</strong>
              <p>

            Recopilación y uso de los datos suministrados: Con el fin de ofrecerle a nuestros clientes nuestros productos y servicios, así como también permitir acceso a nuestro portal, BINDI puede recopilar los siguientes datos personales de sus clientes:

            Información de registro: nombre, número de teléfono, dirección de correo electrónico, información de pago, dirección de facturación , el sitio web desde el cual el cliente se vinculó a nuestro portal, la actividad en nuestro portal, así como el historial de visualización, la hora y la fecha en la cual el cliente visitó el portal y compró productos y servicios a través del portal; información sobre la ubicación del cliente; información del uso de aplicaciones móviles según los sitios web visitados y las aplicaciones descargadas.

            BINDI informará a sus clientes, titulares de los datos, acerca del tratamiento que hará de sus datos personales y su finalidad,
            y obtendrá de manera previa, expresa e informada, su autorización para la respectiva finalidad según lo descrito en el numeral anterior.
            De la misma manera actuarán los encargados del tratamiento, a quienes BINDI exigirá el cumplimiento de las medidas técnicas,
            humanas y administrativas de seguridad necesarias y de la normativa vigente en materia de protección de datos.

            El tratamiento de los datos se hará con base en la autorización del cliente y
            teniendo en cuenta su necesidad, finalidad y temporalidad.

            <strong>¿Cómo recopilamos los datos de nuestros clientes?</strong>


            Los datos personales de los clientes los obtenemos cuando son proporcionados directamente en canales
            presenciales o digitales (ej. El cliente se registra a través de nuestro portal o se suscribe para
            recibir noticias e información de BINDI, o nos contacta por cualquier otra situación
            vía correo electrónico, teléfono, fax, o por medio escrito o personal, o a través de cookies u otras tecnologías.

            Las “cookies” y tecnologías similares son un pequeño fichero de letras y
            cifras que se almacena en el navegador del usuario al acceder a determinadas páginas web,
            y que BINDI puede utilizar con el objetivo de mejorar su experiencia y navegación en el portal,
            obtener información estadística sobre sus hábitos de navegación, y ofrecer publicidad adaptada
            a sus preferencias, entre otros.
            Las “cookies” pueden ser de sesión, que se eliminarán al terminar la sesión, o persistentes,
            que permanecerán en el computador o dispositivo durante un periodo de tiempo determinado.

            Modificando las preferencias del explorador web, el cliente tiene la opción de aceptar todas la
            “cookies”, de ser notificado cuando se instalan, o de deshabilitarlas.

            No obstante, si el cliente elige rechazar las “cookies”,
            es posible que algunas funciones del portal no estén disponibles para su
            utilización o que su funcionamiento no sea óptimo.

            <strong>¿Con quién compartimos los datos de nuestros clientes?</strong>
            De conformidad con la normativa vigente y mediante la implementación de medios seguros,
            BINDI podrá transferir los datos de los clientes a terceros proveedores,
            otras entidades afiliadas de BINDI, en caso de una fusión, adquisición,
            venta de activos de la Compañía o transición del servicio a otro proveedor siempre
            y cuando se cuente con la autorización expresa e inequívoca del titular de dichos datos.
            Asimismo, BINDI podrá entregar los datos personales de los clientes siempre que medie orden
            escrita de autoridad judicial competente.
            </p>

            <p><strong>Proveedores</strong>
            <p>

            Uso de los datos suministrados

            Los Proveedores al autorizar por cualquier medio el uso de su información,
            autorizan a BINDI para que utilice, conserve, transfiera, recolecte, almacene
            y use la información personal con el objeto de:

            a. Ingresar su información a una base de datos

            b. Recolectar y tratar su información y la de sus representantes o
            empleados con la finalidad de llevar a cabo las siguientes actividades:

            Pago de obligaciones contractuales.
            Reporte a entidades gubernamentales.
            Entrega de información a entidades gubernamentales o judiciales que la requieran.
            Soporte en procesos de auditoría externa e interna.
            Cualquier otra finalidad que resulte en el desarrollo del contrato.
            Para el ejercicio de los derechos derivados del tratamiento de los datos personales que suministren, los proveedores cuentan con los canales establecidos en la relación contractual.
            </p>

            <p><strong>Colaboradores</strong>
            <p>

            Uso de los datos suministrados
            La Compañía en calidad de empleador y por mandato de la legislación laboral
            y los acuerdos convencionales debe contar con información personal de sus empleados.

            Para materializar obligaciones laborales, la Compañía posee información
            y datos relacionados con la identificación del empleado, exámenes de vinculación,
            formación académica, experiencia laboral, dirección de domicilio, beneficiarios,
            salario, fondos de pensiones, cesantías, riesgos profesionales, caja de compensación,
            seguros de vida y accidentes, cuenta bancaria para el pago de los emolumentos
            provenientes de la relación de trabajo; afiliaciones a entes externos
            (fondos de empleados, sindicatos, convenios financieros y de servicios, entre otros)
            que voluntariamente el empleado ha solicitado y autoriza los descuentos o pagos directos
            a través de la nómina, para facilitar sus relaciones, previa existencia de acuerdos
            entre esos terceros y la Compañía.

            La información señalada se reportará ante las entidades y autoridades nacionales y
            locales cuando así lo disponga un mandato legal.

            Los empleados podrán consultar la información personal que sobre ellos reposa en las
            bases de datos de BINDI, así como los derechos derivados del tratamiento de su información,
            por medio de los canales internos dispuestos para tal fin por la Vicepresidencia de BINDI.


            El tratamiento de la información de cualquier grupo de interés se hará de conformidad
            con las normas que regulan la materia, en conjunto con los lineamientosinternos de la Compañía,
            y será utilizada de acuerdo con las finalidades propias de la relación que se tenga en cada caso.
            </p>

        </div>

      </div>
    </div>




  </div>
</div>
<!--Seccion de Textos Nuestros Latidos-->

