<ul class="uk-nav-default" uk-nav>
  <li class="uk-active"><a href="#"><h4> Productos</h4></a></li>
  <li class="uk-parent">
      <a href="#">Snacks<span uk-nav-parent-icon></span></a>
      <ul class="uk-nav-sub">
          <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: triangle-right"></span>Chips de Papas</a></li>
          <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: triangle-right"></span>Snacks derivados de Plátano</a></li>
          <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: triangle-right"></span>Palitos de sabores</a></li>
          <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: triangle-right"></span>Crispetas</a></li>
          <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: triangle-right"></span>Rosquitas</a></li>
          <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: triangle-right"></span>Barquillo relleno</a></li>
          <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: triangle-right"></span>Galletas</a></li>
          <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: triangle-right"></span>Parmesanitos integrales</a></li>
          <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: triangle-right"></span>Barras de cereal</a></li>
          <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: triangle-right"></span>Legumbres en grano</a></li>
          <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: triangle-right"></span>Choco Quinua bites</a></li>
      </ul>
  </li>
  <li class="uk-parent">
    <a href="#">Derivados de Frutas<span uk-nav-parent-icon></span></a>
    <ul class="uk-nav-sub">
        <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: triangle-right"></span>Salsas de frutas</a></li>
        <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: triangle-right"></span>Fruta Deshidratada</a></li>

    </ul>
  </li>
  <li class="uk-parent">
    <a href="#">Panela Orgánica y Derivados<span uk-nav-parent-icon></span></a>
    <ul class="uk-nav-sub">
        <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: triangle-right"></span>Panela Orgánica</a></li>
        <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: triangle-right"></span>Miel de caña orgánica </a></li>
    </ul>
  </li>
  <li class="uk-parent">
      <a href="#">Granos y Semillas <span uk-nav-parent-icon></span></a>
      <ul class="uk-nav-sub">
          <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: triangle-right"></span>Semillas (Quinoa, linaza, Chía)</a></li>
          <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: triangle-right"></span>Arroz integral  (Quinua)</a></li>
          <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: triangle-right"></span>Hojuelas (avena , quinua)</a></li>
      </ul>
  </li>
  <li class="uk-parent">
    <a href="#">Harinas, pastas y derivados <span uk-nav-parent-icon></span></a>
    <ul class="uk-nav-sub">
        <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: triangle-right"></span>Pastas (Garbanzos, lentejas)</a></li>
        <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: triangle-right"></span>Harinas (Garbanzo, quinua, avena y arroz)</a></li>
        <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: triangle-right"></span>Premezclas ( Pan, waffles, crepes, muffins, pancakes</a></li>
        <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: triangle-right"></span>Polvos (Canela, cúrcuma, jengibre, cardamomo)</a></li>
    </ul>
  </li>
</ul>
