<ul class="uk-nav-default" uk-nav>
  <li class="uk-active"><a routerLink="productos"><h2>Productos</h2></a></li>

  <li class="uk-active">
      <a href="#"><h4>Snacks</h4></a>
  </li>

  <li class="uk-active">
    <a href="#"><h4>Derivados de Frutas</h4></a>
  </li>


  <li class="uk-active">
    <a href="#"><h4>Panela Orgánica y Derivados</h4></a>
  </li>

  <li class="uk-active">
      <a href="#"><h4>Granos y Semillas</h4></a>
  </li>

  <li class="uk-active">
    <a href="#"><h4>Harinas, pastas y derivados</h4></a>
  </li>
  <br> <br>
  <li class="uk-active"><a href="https://catalogobindi.web.app" target="_blank"> <h3>Ir al Catálogo <a href="https://catalogobindi.web.app" uk-icon="sign-in"></a></h3></a></li>
</ul>
