<ul class="uk-nav-default " uk-nav>
  <li class="uk-nav-header"><h4>PRODUCTOS</h4></li>
  <li class="uk-active" ><a routerLink="inicio" >
    <img src="../../../assets/iconos/churumbelito-amarillo-07.png" width="30px" alt=""> SNACKS</a></li>
  <li class="uk-active"><a routerLink="nuestros-latidos">
    <img src="../../../assets/iconos/churumbelito-amarillo-07.png" width="30px" alt="">DERIVADOS DE FRUTAS</a></li>
  <li class="uk-active"><a routerLink="responsabilidad">
    <img src="../../../assets/iconos/churumbelito-amarillo-07.png" width="30px" alt="">PANELA ORGÁNICA Y DERIVADOS</a></li>
  <li class="uk-active"><a routerLink="responsabilidad">
    <img src="../../../assets/iconos/churumbelito-amarillo-07.png" width="30px" alt="">GRANOS Y SEMILLAS</a></li>
  <li class="uk-active"><a routerLink="responsabilidad">
    <img src="../../../assets/iconos/churumbelito-amarillo-07.png" width="30px" alt="">HARINAS, PASTAS  Y DERIVADOS</a></li>

</ul>


