

<div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slideshow>

  <ul class="uk-slideshow-items">
      <li>
          <img src="../../../assets/banners/reciclado.webp" alt="" uk-cover>
      </li>
      <li>
          <img src="../../../assets/banners/parques.jpg" alt="" uk-cover>
      </li>
      <li>
          <img src="../../../assets/banners/viviendas.jpg" alt="" uk-cover>
      </li>
  </ul>

  <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
  <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>

</div>


<div class="uk-section uk-section-default">
  <div class="uk-container">

      <h3>Somos parte del cambio global</h3>

      <div class="uk-grid-match uk-child-width-1-3@m" uk-grid>
        <div>
          <img src="../../../assets/banners/plastico-bot.jpg" alt="">
        </div>
          <div>
            <img src="../../../assets/banners/aportar-04.png" alt="">
          </div>
          <div>
            <img src="../../../assets/banners/botellasdeamor-05.png" alt="">
          </div>
      </div>

  </div>
</div>


<div class="uk-section uk-section-muted">
  <div class="uk-container">

      <h3>Asi lo estamos haciendo juntos</h3>

      <div class="uk-slider-container-offset" uk-slider>

        <div class="uk-position-relative uk-visible-toggle uk-light" >

            <ul class="uk-slider-items uk-child-width-1-2@s uk-grid">
                <li>
                    <div class="uk-card uk-card-default">
                        <div class="uk-card-media-top">
                            <img src="../../../assets/banners/parques.jpg" width="1800" height="1200" alt="">
                        </div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title">Plásticos de amor</h3>
                            <p> Creemos que vale la pena promover y apoyar proyectos destinados a la instalación de estos..</p>
                        </div>
                    </div>
                </li>



              <li>
                <div class="uk-card uk-card-default">
                    <div class="uk-card-media-top">
                        <img src="../../../assets/banners/viviendas.jpg" width="1800" height="1200" alt="">
                    </div>
                    <div class="uk-card-body">
                        <h3 class="uk-card-title">Viviendas para la vida</h3>
                        <p>Apoyamos la meta de construir 4 millones en latinoamérica en los próximos 12 años para benefiiciar familias vulnerables que tengan un terreno.</p>
                    </div>
                </div>
            </li>

            <li>
              <div class="uk-card uk-card-default">
                  <div class="uk-card-media-top">
                      <img src="../../../assets/banners/escolar.jpg" width="1800" height="1200" alt="">
                  </div>
                  <div class="uk-card-body">
                      <h3 class="uk-card-title">Reciclaje para educar</h3>
                      <p> Nuestros niños podrán sentirse involucrados con un movimiento cosciente de saberes para mejorar el planeta.</p>
                  </div>
              </div>
          </li>

            </ul>

            <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
            <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>

        </div>

        <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>

    </div>

  </div>
</div>


<div class="uk-height-large uk-background-cover uk-overflow-hidden uk-light uk-flex" style="background-image: url('../../../assets/banners/abrazos.jpg');">
  <div class="uk-width-1-2@m uk-text-center uk-margin-auto uk-margin-auto-vertical">
      <h1 uk-parallax="opacity: 0,1,1; y: -100,0,0; x: 100,100,0; scale: 2,1,1; end: 50vh + 50%;">En Bindi nos preocupamos por ellos...</h1>
      <p uk-parallax="opacity: 0,1,1; y: 100,0,0; x: -100,-100,0; scale: 0.5,1,1; end: 50vh + 50%;">Abracemos juntos un nuevo mundo por y para ellos.</p>
  </div>
</div>








