<!--Banner principal de productos-->

<div class="uk-height-medium uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-light" data-src="../../../assets/Socioambiental/environmental-conservation-in-the-garden-for-children (1).jpg" uk-img="loading: eager">
  
</div>


<br><br><br>




<!--!00 % Colombianos-->
<div class="uk-container uk-nav-center"  >
  
  
  <div class="uk-heading-medium animate__animated animate__zoomIn">    
    <img data-aos="zoom-in" src="../../../assets/Socioambiental/Socioambiental-16.png" width="700px" alt="">
  </div>
  
  <hr class="uk-divider-small ">
  <br><br><br>
</div>
<!--!00 % Colombianos-->









<div class="uk-section-default">
  <div class="uk-section uk-light uk-background-cover" 
       style="background-image: url(../../../assets/Socioambiental/fon-solo-21.png)">

    <div class="uk-container">
      <div class="uk-grid-match uk-child-width-1-1@m" uk-grid>          
          
          <h3 style="color:rgb(229, 13, 13)" 
          data-aos="fade-up"
     data-aos-anchor-placement="top-bottom" >
            Bindi está comprometida con la contribución social y ambiental de nuestra región, 
              creemos que podemos aportar valor a la sostenibilidad y a la sociedad que nos rodea, 
              por esta razón nos vinculamos con la fundación llena una botella de amor, 
              la cual genera impactos positivos sociales y ambientales, su principal razón es 
              “recuperar en las personas el amor por el planeta y el ser humano para que se motiven 
              a poner todos sus residuos plásticos en Botellas de amor y así, con estos, construir 
              felicidad para comunidades vulnerables a la vez que se evita la llegada de millones de 
              toneladas de plástico a la basura que pueden terminar contaminando nuestro planeta”.
          </h3>
                    
      </div>
      <br><br><br><br>
    </div>

  </div>
</div>



<div class="uk-section-default">
  <div class="uk-section uk-light uk-background-cover" 
       style="background-image: url(../../../assets/Socioambiental/grupo.jpg)">

    <div class="uk-container">
      <div class="uk-grid-match uk-child-width-1-1@m" uk-grid>          
          
          <div class="flotando"  data-aos="fade-down-left">
            <figure class="imghvr-fade esquinas">
              <img src="../../../assets/Socioambiental/grupo-botellas.jpg">
              <figcaption  class="defondo">            

              </figcaption>
            </figure>  
          </div>   
                    
      </div>
      <h3 style="color:rgb(229, 13, 13)"
      data-aos="fade-right"
     data-aos-offset="300"
     data-aos-easing="ease-in-sine">
        Una Entidad sin ánimo de lucro cuya finalidad es transformar el problema de los residuos plásticos 
        en obra social para beneficiar a personas y comunidades vulnerables mediante la donación de viviendas, 
        parques infantiles, mobiliario escolar y mobiliario urbano.</h3>
      <br><br><br><br>
    </div>

  </div>
</div>

<div class="uk-section-default">
  <div class="uk-section uk-light uk-background-cover" 
       style="background-image: url(../../../assets/Socioambiental/lateral-bindi-22-22.png)">

    <div class="uk-container">
      <div class="uk-grid-match uk-child-width-1-3@m" uk-grid>          
          
          <div data-aos="fade-down-right"><img src="../../../assets/Socioambiental/plastica-vacia-25-25.png" alt="" width="250px"></div>
          <div class="flotando" data-aos="fade-up"
          data-aos-duration="3000"><img src="../../../assets/Socioambiental/llenado-botellas-25.png" alt="" width="250px"></div> 
          <div data-aos="fade-down-left"><img src="../../../assets/Socioambiental/llenas-25.png" alt="" width="250px"></div>       
      </div>

      <br><br><br><br>
    </div>

  </div>
</div>



<div class="uk-section-default">
  <div class="uk-section uk-light uk-background-cover" 
       style="background-image: url(../../../assets/Socioambiental/ultima-seccion-24.png)">

    <div class="uk-container uk-nav-center">

      <div class="uk-grid-match uk-child-width-1-3@m" uk-grid>          
                 
          
          <div data-aos="fade-down-left"></div>


          <div class="uk-heading-medium animate__animated animate__zoomIn" > 
                  <a href="https://botellasdeamor.org">
                    <img data-aos="zoom-in" src="../../../assets/Socioambiental/www.botellasdeamor-26.png" width="350px" alt="">
                  </a>          
                </div>
          <div data-aos="fade-down-left"></div>

      </div>

      


      <br><br><br><br>
    </div>

  </div>
</div>

