<ul class="uk-nav uk-navbar-dropdown-nav">
  <li class="uk-nav-header"><h4> Contáctanos</h4></li>
  <li><a routerLink="contactenos"><span class="uk-margin-small-right" uk-icon="icon: mail"></span>Escríbanos</a></li>
  <li><a href="https://www.instagram.com/bindi_import/" target="_blank"><span class="uk-margin-small-right" uk-icon="icon: instagram"></span>Instagram</a></li>
  <li><a href="https://www.facebook.com/BindiColombia/" target="_blank"><span class="uk-margin-small-right" uk-icon="icon: facebook"></span>Facebook</a></li>
  <li><a href="https://api.whatsapp.com/send?phone=573052215839&text=Hola,%20encontr%C3%A9%20sus%20productos%20en%20internet%20y%20estoy%20interesa@%20en%20su%20cat%C3%A1logo..." target="_blank"><span class="uk-margin-small-right" uk-icon="icon: whatsapp"></span>Whatsapp</a></li>
</ul>
