<!--PRIMERA SECCIÓN-------------------------------------------------------->



<div class="uk-height-medium uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-light" data-src="https://images.unsplash.com/photo-1490822180406-880c226c150b?fit=crop&w=650&h=433&q=80" uk-img>
  <h1>Imagen Principal</h1>
</div>


<!--PRIMERA SECCIÓN-------------------------------------------------------->
<div class="uk-section uk-section-default">
  <div class="uk-container">

    <div class="uk-child-width-1-3@m" uk-grid uk-scrollspy="cls: uk-animation-fade; target: .uk-card; delay: 500; repeat: true">
      <div>
          <div class="uk-card uk-card-default uk-card-body">
              <h3 class="uk-card-title">Bindi</h3>
              <p>Conócenos por dentro.</p>
              <a href="https:google.com" target="_blank"><button class="uk-button uk-button-danger">Vamos</button></a>
          </div>
      </div>
      <div>
          <div class="uk-card uk-card-default uk-card-body">
              <h3 class="uk-card-title">Nuestros Latidos</h3>
              <p>A diario éstos son los motivos que nos impulsan.</p>
              <a href="https:google.com" target="_blank"><button class="uk-button uk-button-primary">Vamos</button></a>
          </div>
      </div>
      <div>
          <div class="uk-card uk-card-default uk-card-body">
              <h3 class="uk-card-title">Responsabilidad Social</h3>
              <p>Conscientes de nuestro deber.</p>
              <a href="https:google.com" target="_blank"><button class="uk-button uk-button-danger">Vamos</button></a>
          </div>
      </div>
      <div>
          <div class="uk-card uk-card-default uk-card-body">
              <h3 class="uk-card-title">Aportamos a nuestro planeta</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              <a href="https:google.com" target="_blank"><button class="uk-button uk-button-danger">Vamos</button></a>
          </div>
      </div>
      <div>
          <div class="uk-card uk-card-default uk-card-body">
              <h3 class="uk-card-title">Videos</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              <a href="https:google.com" target="_blank"><button class="uk-button uk-button-danger">Vamos</button></a>


          </div>
      </div>
      <div>
          <div class="uk-card uk-card-default uk-card-body">
              <h3 class="uk-card-title">Productos</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              <a href="https:google.com" target="_blank"><button class="uk-button uk-button-danger">Vamos</button></a>
          </div>
      </div>
  </div>

  </div>
</div>


<!--PRIMERA SECCIÓN-------------------------------------------------------->
<div class="uk-height-large uk-background-cover uk-overflow-hidden uk-light uk-flex" style="background-image: url('../../../assets/campos-colombianos.webp');">
  <div class="uk-width-1-2@m uk-text-center uk-margin-auto uk-margin-auto-vertical">
      <h1 uk-parallax="opacity: 0,1,1; y: -100,0,0; x: 100,100,0; scale: 2,1,1; end: 50vh + 50%;">Productos del campo</h1>
      <p uk-parallax="opacity: 0,1,1; y: 100,0,0; x: -100,-100,0; scale: 0.5,1,1; end: 50vh + 50%;">100% Colombianos.</p>
  </div>
</div>


<!--SECCIÓN de ventajas-------------------------------------------------------->
<div class="uk-section uk-section-primary uk-light">
  <div class="uk-container">

    <div class="uk-child-width-1-3@m" uk-grid uk-scrollspy="cls: uk-animation-slide-bottom; target: .uk-card; delay: 300; repeat: true">
      <div>
          <div class="uk-card uk-card-default uk-card-body">
              <h3 class="uk-card-title">Bottom</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
      </div>
      <div>
          <div class="uk-card uk-card-default uk-card-body" uk-scrollspy-class="uk-animation-slide-top">
              <h3 class="uk-card-title">Top</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
      </div>
      <div>
          <div class="uk-card uk-card-default uk-card-body">
              <h3 class="uk-card-title">Bottom</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
      </div>
  </div>

  </div>
</div>



<!--SECCIÓN NUESTRAS MARCAS-------------------------------------------------------->
<div class="uk-section uk-section-muted">
    <div class="uk-container uk-cover-container uk-height-x-large">

        <h3>Nuestras Marcas</h3>

        <div uk-filter="target: .js-filter">

          <ul class="uk-subnav uk-subnav-pill">
              <li class="uk-active" uk-filter-control><a href="#">Todas</a></li>
              <li uk-filter-control="[data-color='snacks']"><a href="#">Snacks</a></li>
              <li uk-filter-control="[data-color='df']"><a href="#">Derivados de Frutas</a></li>
              <li uk-filter-control="[data-color='po']"><a href="#">Panela Orgánica</a></li>
              <li uk-filter-control="[data-color='granos']"><a href="#">Granos y Semillas</a></li>
              <li uk-filter-control="[data-color='harinas']"><a href="#">Harinas Pastas y Derivados</a></li>
          </ul>

          <ul class="js-filter uk-child-width-1-2 uk-child-width-1-3@m uk-text-center" uk-grid>
              <li data-color="white">
                  <div class="uk-card uk-card-default uk-card-body">Item</div>
              </li>
              <li data-color="blue">
                  <div class="uk-card uk-card-primary uk-card-body">Item</div>
              </li>
              <li data-color="snacks">
                <div class="uk-animation-toggle" tabindex="0">
                  <div class="uk-card uk-card-default uk-card-body uk-animation-shake">
                      <p class="uk-text-center">Shake</p>
                  </div>
              </div>
              </li>
              <li data-color="snacks">
                  <div class="uk-card uk-card-default uk-card-body">Item</div>
              </li>
              <li data-color="black">
                  <div class="uk-card uk-card-secondary uk-card-body">Item</div>
              </li>
              <li data-color="po">
                  <div class="uk-card uk-card-secondary uk-card-body">Item</div>
              </li>
              <li data-color="df">
                  <div class="uk-card uk-card-primary uk-card-body">Item</div>
              </li>
              <li data-color="black">
                  <div class="uk-card uk-card-secondary uk-card-body">Item</div>
              </li>
              <li data-color="df">
                  <div class="uk-card uk-card-primary uk-card-body">Item</div>
              </li>
              <li data-color="snacks">
                  <div class="uk-card uk-card-default uk-card-body">Item</div>
              </li>
              <li data-color="df">
                  <div class="uk-card uk-card-primary uk-card-body">Item</div>
              </li>
              <li data-color="po">
                  <div class="uk-card uk-card-secondary uk-card-body">Item</div>
              </li>
              <li data-color="granos">
                <div class="uk-card uk-card-secondary uk-card-body">Item</div>
              </li>
              <li data-color="harinas">
                <div class="uk-card uk-card-secondary uk-card-body">Item</div>
              </li>
              <li data-color="po">
                <div class="uk-card uk-card-secondary uk-card-body">Item</div>
              </li>
              <li data-color="granos">
                <div class="uk-card uk-card-secondary uk-card-body">Item</div>
              </li>
              <li data-color="harinas">
                <div class="uk-card uk-card-secondary uk-card-body">Item</div>
              </li>
          </ul>

      </div>
      <br><br>
    </div>
</div>



<!--SECCIÓN DE MAPA-------------------------------------------------------->
<div class="uk-section-default">
  <div class="uk-section uk-light uk-background-cover" style="background-image: url(images/dark.jpg)">


        <div class="uk-child-width-1-1@s uk-grid-medium" uk-grid>
          <div>
              <div class="uk-overflow-hidden align-center" >
                  <img src="../../../assets/bindi-map-01.jpg" width="1800" height="1200" alt="Example image" class="uk-animation-reverse uk-transform-origin-top-center" uk-scrollspy="cls: uk-animation-kenburns; repeat: true">
              </div>
          </div>

      </div>
  </div>
</div>
